.highlight {
  height: 100vh;
  background-color: #303f9f;
}

.hl-header {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
}

.hl-header h1 {
  margin: 0%;
  padding: 0;
  margin-right: 26vw;
}

.hl-header select {
  height: 5vh;
  width: 15vw;
  margin: 0%;
  margin-right: 3vw;
  text-align: center;
  font-size: medium;
  font-weight: 600;
  border-radius: 10px;
  border: none;
}

.hl-button {
  margin-top: 14vh;
  width: 10vw;
  height: 8vh;
  margin-left: 45vw;
  border: none;
  border-radius: 12px;
  font-weight: 800;
  font-size: 1em;
  cursor: pointer;
}

.highlights-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 5vh;
}
