h1 {
  margin-top: 0;
  padding-top: 3vh;
  margin-bottom: 7vh;
  text-align: center;
}

.carroussel {
  display: flex;
  overflow: hidden;
  margin-right: 6vw;
  margin-left: 6vw;
}

.arrow {
  background: none;
  margin: none;

  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}

.aright {
  transform: rotate(-45deg);
  margin-right: 5vh;
}

.aleft {
  transform: rotate(135deg);
  margin-left: 5vh;
}

.container {
  display: flex;
  align-items: center;
}

.panel {
  transition: transform 1s cubic-bezier(0.32, 0.09, 0.14, 0.99);
  margin-right: 10vw;
}
