header {
  height: 13vh;
  background-color: #303f9f;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header input {
  height: 5vh;
  width: 15vw;
  border-radius: 10px;
  border: none;
}

header button {
  background: none;
  padding: none;
  border: none;
  color: white;
  font-size: 3vh;
  cursor: pointer;
}
