.content {
  display: flex;
  justify-content: center;
  align-items: top;
}

.info {
  width: 30vw;
  height: 60vh;
  margin-left: 5vw;
}

h2 {
  margin-top: 0;
}

p {
  text-align: justify;
  margin-top: 0;
  margin-bottom: 1.5vh;
}

.sinopse {
  overflow-y: auto;
  height: 15vh;
  width: 28vw;
  padding-right: 2vw;
}

.rate {
  margin-top: 10vh;
}

iframe {
  border: 0;
  height: 60vh;
  width: 45vw;
}

.substitute-poster {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  height: 60vh;
  width: 45vw;
}
